/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Colors */
:root {
  --primary-color: #748c5b;
  --secondary-color: #3d3d3d;
  --background-color: #f2f2f2;
}

/* General Styles */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

*::selection{
    background-color: #839756
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
  text-align: center;
  font-size: 700; 
  margin-top: 0.5rem; /Edited a bit of the margin who title feels more like in the middle/
  margin-bottom: 0.25rem;

  /* Add transition for smooth effect */
  transition: color 0.3s ease, font-size 0.5s ease; / Add transition for font-weight change /
}

/* Hover effect for the headings, turns green to light green */
h1:hover,
h2:hover,
h3:hover {
  color: #4b9d6f;
  font-size: 2.5rem; / Increase font-size on hover */
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.gardenPlantStyle {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

/* Navigation Styles */
nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav a {
  color: white;
  margin: 0 1rem;
  align-self:auto;
}

nav a:hover {
  text-decoration: underline;
}

.breaker{
  color : red;
  border : 1px solid green;
  margin-bottom : 5px;
}

/* Remove Button Styles */
.rmbtn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.rmbtn:hover {
  background-color: #ca6900;
}

.rmbtn:focus {
  background-color: #ca6900;
}

/* Button Styles */
.btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #4b9d6f;
}

.btn:focus {
  background-color: #4b9d6f;
}

/* Plant Class Styles */
.plant {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  width: 300px;
 
  /*Grid Layout*/
  display: inline-grid;
  row-gap: 50px;
  gap: 10px 5px;
}

.plant img {
  border-radius: 5px;
  max-width: 100%;
}

.plant h4 {
  margin: 0.5rem 0;
}

.plant p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

/* The modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 12% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  display: block;
  border-radius: 10px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Custom Plant Box */
.customPlant {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 500px;
  margin: auto;
}

.customPlant img {
  border-radius: 5px;
  max-width: 100%;
}

.customPlant h4 {
  margin: 0.5rem 0;
}

.customPlant p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.customPlant input[type=text] {
  width: 75%;
  margin: left;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

}

.customPlant input[type=button] {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.customPlant input[type=button]:hover {
  background-color: #4b9d6f;
}

.customPlant input[type=button]:focus {
  background-color: #4b9d6f;
}

.customPlant input[type=text]:focus {
  border: 3px solid #4b9d6f;
}